@tailwind base;
@tailwind components;
@tailwind utilities;


table {
    width: 100%;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4140406e;
}

.infinite-scroll-component__outerdiv{
    width: 100%;
}

p:target {
    background-color: yellow;
}